{% extends "base.html" %}

{% block content %}
<html>
    <title>
        Bidding page 
    </title>
    <body>
        {% for y in unique_post_values %}
            <h2> Post {{ y }}</h2>
            <form action = '/bidding' method="post">
                <input placeholder = 'Bidding price' name = 'bidding price'>
                <input placeholder = 'information' name = 'information'> 
                <input value = {{ y }} type = "hidden" name = "ID_value">
                <input type = 'submit' value = 'Submit'>
            </form>
            {% for x in content %}
                {% if x[3] == y %}
                    <b>User: </b><i>{{ x[0] }}</i><b> Content: </b><i>{{ x[1] }}</i><b> Price: </b><i> {{ x[2] }}</i><br>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </body>
</html>
{% endblock %}