<!doctype html>
<title>Food wastage stopper</title>
<html>
    <body>
        <form action='/' method='post'>
            <input placeholder='Name' name='name'>
            <input placeholder='Post Content' name='post'>
            <input type='submit' value='Submit post'>
        </form>
        <form action='/' method='delete'>
            {%  for post in posts %}
            <div>{{post[1] + ': ' + post[2]}} <input type='submit' value='Delete post'> </div> 
            {% endfor %}
        </form>
        <form action='/' method='post'>
            <input type='submit' value="Print posts">
        </form>
    </body>
</html>
